absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.3.1
argcomplete==2.0.0
asgiref==3.5.2
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.1.0
backcall==0.2.0
boto==2.49.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cloudpickle==2.2.0
crcmod==1.7
cryptography==38.0.3
cycler==0.11.0
Cython==0.29.32
decorator==5.1.1
dill==0.3.6
dj-database-url==1.0.0
Django==3.2.16
fasteners==0.18
flatbuffers==22.10.26
fonttools==4.38.0
frozenlist==1.3.3
gast==0.4.0
gcs-oauth2-boto-plugin==3.0
glfw==2.5.5
google-apitools==0.5.32
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-reauth==0.1.1
grpcio==1.51.0
gsutil==5.16
gunicorn==20.1.0
gym==0.26.2
gym-notices==0.0.8
h5py==3.7.0
httplib2==0.21.0
-e git+https://github.com/jackyoung96/rl-teacher.git@d614b69296871ff3209f6e6916b5c687d2951f74#egg=human_feedback_api&subdirectory=human-feedback-api
idna==3.4
imageio==2.22.4
importlib-metadata==4.13.0
ipdb==0.13.9
ipython==7.34.0
jedi==0.18.2
joblib==1.2.0
keras==2.11.0
kiwisolver==1.4.4
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
monotonic==1.6
mpi4py==3.1.4
mujoco==2.2.0
mujoco-py==2.1.2.14
multidict==6.0.2
multiprocess==0.70.14
numpy==1.21.6
oauth2client==4.1.3
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==21.3
-e git+https://github.com/jackyoung96/rl-teacher.git@d614b69296871ff3209f6e6916b5c687d2951f74#egg=parallel_trpo&subdirectory=agents/parallel-trpo
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
-e git+https://github.com/jackyoung96/rl-teacher.git@d614b69296871ff3209f6e6916b5c687d2951f74#egg=pposgd_mpi&subdirectory=agents/pposgd-mpi
progressbar2==4.2.0
prompt-toolkit==3.0.33
protobuf==3.19.6
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.13.0
PyOpenGL==3.1.6
pyOpenSSL==22.1.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-utils==3.4.5
pytz==2022.6
pyu2f==0.1.5
PyVirtualDisplay==3.0
pyzmq==24.0.1
requests==2.28.1
requests-oauthlib==1.3.1
retry-decorator==1.1.1
-e git+https://github.com/jackyoung96/rl-teacher.git@d614b69296871ff3209f6e6916b5c687d2951f74#egg=rl_teacher
rsa==4.7.2
scipy==1.7.3
six==1.16.0
sqlparse==0.4.3
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-gpu==2.11.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.1.1
toml==0.10.2
tqdm==4.64.1
traitlets==5.5.0
typing_extensions==4.4.0
urllib3==1.26.12
wcwidth==0.2.5
Werkzeug==2.2.2
whitenoise==6.2.0
wrapt==1.14.1
yarl==1.8.1
zipp==3.10.0
zmq==0.0.0
