{% extends "base.html" %}
{% load staticfiles %}
{% load custom_tags %}


{% block content %}
    <style>

        @-webkit-keyframes fadeIt {
            0% {
                background-color: #532F8C;
            }
            100% {
                background-color: #FFFFFF;
            }
        }

        .flash-fade {
            background-image: none !important;
            -webkit-animation: fadeIt 1s ease-out;
        }

    </style>
    <script src="/static/jquery.form.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.1/mousetrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script>
        function bindForms() {
            $('form').ajaxForm({
                beforeSubmit: swapInQueuedComparison,
                success: handleFormResponse
            });
        }

        function swapInQueuedComparison() {
            // Remove the old one
            $('.comparison').first().remove();

            // Swap in the new one
            $('.comparison').first().show();
            $('.comparison').first().find("video").each(function () {
                this.play()
            });
            return true
        }

        function currentIDs() {
            result = [];
            $('.comparison').toArray().forEach(function (el) {
                result.push(el.attributes["comparison_id"].value)
            });
            return result
        }

        function QueueComparisons(newComparisonHtml) {
            // Append the new one
            ids = currentIDs();
            newEl = $.parseHTML(newComparisonHtml);
            $(newEl).find(".comparison").toArray().forEach(function (el) {
                id = el.attributes["comparison_id"].value;
                if (!ids.includes(id)) {
                    QueueNewComparison(el)
                }
            })
        }

        function QueueNewComparison(newEl) {
            console.log("Appending new comparison from ajax response");

            $(newEl).hide();
            $(newEl).insertBefore('.last');
            //$('.comparison-container').append(newEl);

            // Bind the new forms so that they stay ajax
            bindForms();

            // Ensure that the first comparison is shown (in case we hit the queue too fast)
            $('.comparison').first().show();
        }

        function handleFormResponse(responseText, statusText, xhr, $form) {
            if (statusText != "success") {
                alert("Failed to submit comparison");
            } else {
                // QueueComparisons(responseText)
                // go back to list
                window.location.href="/experiments/{{experiment.name}}/list"
            }
        }

        $(document).ready(function () {
            bindForms();
            $('.comparison').toArray().slice(1).forEach(function (el) {
                $(el).hide()
            });

            $('.comparison').first().find("video").each(function () {
                this.play()
            });


            function choose(choice) {
                $('.comparison').first().find('.choice-' + choice).click();

                // Flash the new button so that the person knows what they just selected
                $('.comparison').first().find('.choice-' + choice).addClass('flash-fade')
            }

            // Set up keyboard shortcuts
            _.each({
                left: 'left',
                right: 'right',
                // up: 'tie',
                down: 'abstain'
            }, function (option, key) {
                Mousetrap.bind(key, function () {
                    choose(option);
                    return false // Prevent default
                });
            })
        });

    </script>

    <div class="comparison-container">
        {% if comparison == None %}
            <div class="comparison last" comparison_id={{-1 }}>
                <div class="container" style="margin-top: 60px">
                    <div class="alert alert-info text-center" role="alert">
                        Experiment not found
                    </div>
                    <hr>
                </div>
            </div>
        {% else %}
            <div style="text-align:center;margin:10px;">
                <h4>Browse Comparisons</h4>
                <button onclick=window.location.href=window.location.origin+"/comparisons/"+({{comparison.id}}-1)>Prev</button>
                <button style="margin-left:40px;" 
                    onclick=window.location.href=window.location.origin+"/experiments/{{comparison.experiment_name}}/list">List</button>
                <button style="margin-left:40px;" onclick=window.location.href=window.location.origin+"/comparisons/"+({{comparison.id}}+1)>Next</button>
            </div>
        
            <div class="comparison" comparison_id={{ comparison.id }}>
                <div class="row">
                    <div class="col-md-6 text-center">
                        <h3>Left</h3>
                        {% if ".mp4" in comparison.media_url_1 %}
                            <video width="400px" loop>
                                <source src="{{ comparison.media_url_1 }}" type="video/mp4"/>
                            </video>
                        {% else %}
                            <img style="width:400px" src="{{ comparison.media_url_1 }}">
                        {% endif %}
        
                        <form style="padding-top:30px"
                            action="/experiments/{{ experiment.name }}/ajax_one_response" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comparison_id" value="{{ comparison.id }}">
                            <input type="hidden" name="response" value="{{ 'left' }}">
                            <input class="btn btn-lg btn-default choice-left" type="submit"
                                value="Left is better">
                        </form>
        
                    </div>
                    <div class="col-md-6 text-center">
                        <h3>Right</h3>
                        {% if ".mp4" in comparison.media_url_2 %}
                            <video width="400px" loop>
                                <source src="{{ comparison.media_url_2 }}" type="video/mp4"/>
                            </video>
                        {% else %}
                            <img style="width:400px" src="{{ comparison.media_url_2 }}">
                        {% endif %}
        
                        <form style="padding-top:30px"
                            action="/experiments/{{ experiment.name }}/ajax_one_response" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comparison_id" value="{{ comparison.id }}">
                            <input type="hidden" name="response" value="{{ 'right' }}">
                            <input class="btn btn-lg btn-default choice-right" type="submit"
                                value="Right is better">
                        </form>
        
                    </div>
                </div>
                <div style="text-align:center; height: 0">
                    <div style="position:relative;top:-78px;width: 200px;left: 50%;margin-left: -100px;">
        {#                <form style="padding-top:30px"#}
        {#                      action="/experiments/{{ experiment.name }}/ajax_one_response" method="post">#}
        {#                    {% csrf_token %}#}
        {#                    <input type="hidden" name="comparison_id" value="{{ comparison.id }}">#}
        {#                    <input type="hidden" name="response" value="{{ 'tie' }}">#}
        {#                    <input class="btn btn-lg btn-default  choice-tie" type="submit" value="It's a tie">#}
        {#                </form>#}
        
                        <form style="padding-top:30px"
                            action="/experiments/{{ experiment.name }}/ajax_one_response" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comparison_id" value="{{ comparison.id }}">
                            <input type="hidden" name="response" value="{{ 'abstain' }}">
                            <input class="btn btn-lg btn-default choice-abstain" type="submit" value="Can't tell">
                        </form>
                    </div>
                </div>
                <hr>
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> current comparison id</th>
                            <th> total_responses</th>
                            <th> started_at</th>
                            <th> time_elapsed</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ comparison.id }}</td>
                            <td>{{ experiment.num_responses }}</td>
                            <td>{{ experiment.started_at }}</td>
                            <td>{{ experiment.pretty_time_elapsed }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align:center">
                        <h4>
                            <small>(refresh to get accurate counts)</small>
                        </h4>
                    </div>
                </div> <!-- comparison -->
            </div>
        {% endif %}


    </div>

{% endblock %}
